/* .mybox {
  position: initial;
  width: 100px;
  height: 10px;
  background: red;
  left: 10px;
  top: 100px;
}
.mybox2 {
  position: initial;
  width: 100px;
  height: 100px;
  background: green;
  left: 10px;
  top: 100px;
} */
#first {
    width: 100px;
    height: 100px;
    background: red;
    overflow: hidden;
}

#first #second{
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 25%;
    background: green;
}
