#first {
  width: 100px;
  height: 100px;
  background: red;
  overflow: hidden;
}

#first #second {
  position: relative;
  width: 100%;
  height: 35%;
  margin: auto;
  margin-top: 15%
  background: green;
}
